<!--定义导航栏-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

        <!--导航栏商标-->
        <a class="navbar-brand" href="#">我的博客</a>
        <!--当屏幕变化时出来一个菜单键-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="menu" class="collapse navbar-collapse ">
            <!--导航入口-->
            <ul class="nav navbar-nav ml-auto">
                <!--条目-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_create' %}">写文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
                </li>

                <!--Django的if模板语句-->
                {% if user.is_authenticated %} 
                    <!--如果用户已经登录，则显示用户名下拉框-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }} 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                        </div>
                    </li>
                {% else %} 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                    </li>
                <!--结束if语句-->
                {% endif %}
            </ul> 
        </div> 
        
    </div>
</nav>



